extends layout

block content
  form.form-horizontal(method="post")
    div.form-group
      lable.col-sm-2.control-label 用户
      input.form-control(type='text' name='name')
    div.form-group
      lable.col-sm-2.control-label 密码
      input.form-control(type='password' name='password')
    div.group
      lable.col-sm-2.control-label 确认密码
      input.form-control(type='text' name='confirm')
    input.form-control(type='submit' value='注册')