extends layout

block content
  form(method="post")
    div
      lable 用户
      input(type='text' name='name')
    div
      lable 密码
      input(type='password' name='password')
    div
      lable 确认密码
      input(type='text' name='confirm')
    input(type='submit' value='注册')